/* Global */

$color-main: #ffa801;
$color-two: #d2dae2;

body {
	margin: 0;
	text-align: center;
	background-color: white;
	color: black;
	font-size: 18px;
	line-height: 1.7;
}

.btn {
	display: inline-block;
	min-width: 160px;
	margin: 24px auto 0 auto;
	padding: 16px;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-width: 2px;
	border-style: solid;
	background-color: inherit;
	background-position: 100% 0;
	background-size: 300%;
	transition: all 1s;
}

section {
	padding: 96px 0;
}

.section-title {
	font-size: 46px;
}

.section-subtitle {
	font-size: 20px;
	font-style: oblique;
	margin-top: 0;
	margin-bottom: 50px;
}

/* Splash */

.navigation {
	padding: 12px 0;
	color: white;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation li {
	display: inline-block;
	margin-right: 36px;
}

.navigation a {
	text-decoration: none;
}

a:hover {
	color: #808e9b;
}

.navigation-logo {
	color: $color-main;
	font-size: 25px;
	font-style: oblique;
	margin: 40px 60px;
}

/* Splash */

.splash {
	position: relative;
	background-image: url('https://i.postimg.cc/85CjDV0B/pexels-arina-krasnikova-7726315.jpg');
	background-position: center center;
	background-size: cover;
	height: 100vh;
}

.splash-inner {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.splash-subtitle {
	color: white;
	font-size: 35px;
	margin: 48px 0 20px 0;
	position: relative;
}

.splash-title {
	color: white;
	font-size: 70px;
	margin: 48px 0 20px 0;
}

.btn {
	display: inline-block;
	background-color: $color-main;
	color: black;
	text-decoration: none;
	border-radius: 5px;
	font-size: 20px;
	text-align: center;
}
